.section-five-container{
    margin: 1rem 0.3rem;
    background-color: #F4F4FB;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 3rem;
    height: 100%;

   span {
    display: flex;
    justify-content: center; /* Añade esta propiedad para centrar horizontalmente */
    width: 100%;
    // margin: 0.9rem;

    hr {
    //   padding: 1rem;
 
      margin: 0; /* Añade esta propiedad para eliminar el margen predeterminado */
    }
  }
}




.main-hr {
    background: linear-gradient(90deg, #636bc5, rgba(30, 219, 207, 0.5));
    border: 0;
    border-radius: 8px;
    height: 8px;
    margin: 32px 0;
    padding:0;
    width: 144px;
    
  }

