.section-four-container {
  margin: 0 18.25rem;
  height: 500px;
  // margin-top: 3rem;

  div {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
.wrap-text-container {
 
padding-bottom: 1rem;
h2{
    padding: 1rem 0;
}
}
.container-button-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-hr {
    background: linear-gradient(90deg, #636bc5, rgba(30, 219, 207, 0.5));
    border: 0;
    border-radius: 8px;
    height: 8px;
    margin: 32px 0;
    padding:0;
    width: 144px;
    margin-right: auto;
    margin-top: auto; 
  }
  .button-main-section-four{
    &:hover{
        background-color: #acacac1e !important;
    }
  }